name: Python Package Using Anaconda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.1.1
    - run: pip3 install numpy
    - run: pip3 install tensorflow
    - run: pip3 install sklearn
    - name: Run Tests
      run: python3 test.py
    
      